<header class="ql-nav">
    <div class="ql-nav-inner">
        <div class="ql-logo">
            <div class="ql-logo-icon"><span>∑</span></div>
            <span class="ql-logo-text">MathAPI</span>
        </div>

        <div class="ql-menu-wrap">
            <nav class="ql-links" id="qlLinks">
                <a href="index.html">Home</a>
                <a href="models.html">Models</a>
            </nav>

            <button class="ql-burger" id="qlBurger">
                <span></span><span></span><span></span>
            </button>
        </div>
    </div>
</header>
<script src="scripts/global.js"></script>